@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

section{
    position: relative;
    padding: 6em;
    background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%);
    color: black;
    text-align: center;
    margin-bottom: 100px;
  }
  @media(min-width: 500px){
    section{
      position: relative;
      padding: 10em;
      background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%);
      color: black;
      text-align: center;
      margin-bottom: 100px;
    }
  }

  section h2 {
    margin: 0;
    padding: 0;
    font-size: 2.8em;
    font-weight: 400;
  }
  /* Common style for pseudo-elements */
  section::before,
  section::after {
    position: absolute;
    content: "";
    pointer-events: none;
  }

  .button {
    width: 35%;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    background: linear-gradient(#af96d4, #9b88b9);
    cursor: pointer;
    padding: 13px 20px;
}
/* ---- put this in react file ---- */
/*<button className="button"><Link to="/about" className='text-link'>About</Link></button>
 */
.text-link a{
  color: inherit;
  text-decoration: inherit;
}
.button:hover{
  background-color: white;
  color: purple; 
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}


    

