.custom-btn {
    width: 35%;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    background: linear-gradient(#af96d4, #9b88b9);
    cursor: pointer;
    padding: 13px 20px;
}
.custom-btn:hover{
          color: #2b2c48;
          border-bottom: 3px solid #8a84ff;
          background: linear-gradient(
            to bottom,
            rgba(127, 199, 231, 0) 0%,
            rgba(207, 204, 255, 0.2) 44%,
            rgba(211, 226, 255, 0.4) 100%
          );
    }