.single-item-component{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 2px solid black;
    padding-right: -100px;
    width: 400px;
}
.image-voyager{
    height: 200px;
    width: 200px;
}